# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


# Minecraft folders we do not care about
asm/
backups/
crash-reports/
downloads/
enderio/
journeymap/
local/
logs/
modpack/
mods/
mputils/
resourcepacks/
resources/
saves/
TooManyGravesData/
woot/
.curseclient
minecraftinstance.json
minetweaker.log
OpenComputersMod-*
options.txt
settings.rtg
TimeUsage.txt
usercache.json
usernamecache.json
