"_VERSION"=1
# If true, all changes made by this file will be logged
"_log_changes"=false
tools {
    "IE_HAMMER" {
        "immersiveengineering:tool"=2
    }
    axe {
        "appliedenergistics2:certus_quartz_axe"=2
        "appliedenergistics2:nether_quartz_axe"=2
        "enderio:darkSteel_axe"=5
        "minecraft:diamond_axe"=3
        "minecraft:golden_axe"=0
        "minecraft:iron_axe"=2
        "minecraft:stone_axe"=1
        "minecraft:wooden_axe"=0
        "natura:bloodwood_axe"=2
        "natura:darkwood_axe"=1
        "natura:fusewood_axe"=2
        "natura:ghostwood_axe"=0
        "natura:netherquartz_axe"=1
        "railcraft:tool_axe_steel"=2
        "techreborn:advancedchainsaw"=3
        "techreborn:bronzeAxe"=2
        "techreborn:diamondchainsaw"=3
        "techreborn:ironchainsaw"=2
        "techreborn:peridotAxe"=2
        "techreborn:rubyAxe"=2
        "techreborn:sapphireAxe"=2
        "thermalfoundation:tool.axe_bronze"=2
        "thermalfoundation:tool.axe_copper"=1
        "thermalfoundation:tool.axe_electrum"=0
        "thermalfoundation:tool.axe_invar"=2
        "thermalfoundation:tool.axe_lead"=1
        "thermalfoundation:tool.axe_nickel"=2
        "thermalfoundation:tool.axe_platinum"=4
        "thermalfoundation:tool.axe_silver"=2
        "thermalfoundation:tool.axe_tin"=1
        "voidcraft:tools/spectreaxe"=4
        "voidcraft:tools/starforgedaxe"=9
        "voidcraft:tools/voidaxe"=3
    }
    crowbar {
        "railcraft:tool_crowbar_iron"=2
        "railcraft:tool_crowbar_steel"=2
    }
    hammer {
        "thermalfoundation:tool.hammer_bronze"=2
        "thermalfoundation:tool.hammer_copper"=1
        "thermalfoundation:tool.hammer_diamond"=3
        "thermalfoundation:tool.hammer_electrum"=0
        "thermalfoundation:tool.hammer_gold"=0
        "thermalfoundation:tool.hammer_invar"=2
        "thermalfoundation:tool.hammer_iron"=2
        "thermalfoundation:tool.hammer_lead"=1
        "thermalfoundation:tool.hammer_nickel"=2
        "thermalfoundation:tool.hammer_platinum"=4
        "thermalfoundation:tool.hammer_silver"=2
        "thermalfoundation:tool.hammer_stone"=1
        "thermalfoundation:tool.hammer_tin"=1
        "thermalfoundation:tool.hammer_wood"=0
    }
    pickaxe {
        "appliedenergistics2:certus_quartz_pickaxe"=2
        "appliedenergistics2:nether_quartz_pickaxe"=2
        "enderio:darkSteel_pickaxe"=5
        "hammerz:item.Hammer"=0
        "harderores:diamondstud_pickaxe"=3
        "minecraft:diamond_pickaxe"=3
        "minecraft:golden_pickaxe"=0
        "minecraft:iron_pickaxe"=2
        "minecraft:stone_pickaxe"=1
        "minecraft:wooden_pickaxe"=0
        "natura:bloodwood_pickaxe"=2
        "natura:darkwood_pickaxe"=1
        "natura:fusewood_pickaxe"=2
        "natura:ghostwood_pickaxe"=0
        "natura:netherquartz_pickaxe"=1
        "railcraft:tool_pickaxe_steel"=2
        "techreborn:advanceddrill"=3
        "techreborn:bronzePickaxe"=2
        "techreborn:diamonddrill"=3
        "techreborn:diamondjackhammer"=3
        "techreborn:irondrill"=2
        "techreborn:ironjackhammer"=2
        "techreborn:omniTool"=3
        "techreborn:peridotPickaxe"=2
        "techreborn:rockCutter"=3
        "techreborn:rubyPickaxe"=2
        "techreborn:sapphirePickaxe"=2
        "techreborn:steeljackhammer"=3
        "terraqueous:multitool"=3
        "thermalfoundation:tool.hammer_bronze"=2
        "thermalfoundation:tool.hammer_copper"=1
        "thermalfoundation:tool.hammer_diamond"=3
        "thermalfoundation:tool.hammer_electrum"=0
        "thermalfoundation:tool.hammer_gold"=0
        "thermalfoundation:tool.hammer_invar"=2
        "thermalfoundation:tool.hammer_iron"=2
        "thermalfoundation:tool.hammer_lead"=1
        "thermalfoundation:tool.hammer_nickel"=2
        "thermalfoundation:tool.hammer_platinum"=4
        "thermalfoundation:tool.hammer_silver"=2
        "thermalfoundation:tool.hammer_stone"=1
        "thermalfoundation:tool.hammer_tin"=1
        "thermalfoundation:tool.hammer_wood"=0
        "thermalfoundation:tool.pickaxe_bronze"=2
        "thermalfoundation:tool.pickaxe_copper"=1
        "thermalfoundation:tool.pickaxe_electrum"=0
        "thermalfoundation:tool.pickaxe_invar"=2
        "thermalfoundation:tool.pickaxe_lead"=1
        "thermalfoundation:tool.pickaxe_nickel"=2
        "thermalfoundation:tool.pickaxe_platinum"=4
        "thermalfoundation:tool.pickaxe_silver"=2
        "thermalfoundation:tool.pickaxe_tin"=1
        "voidcraft:tools/spectrepickaxe"=4
        "voidcraft:tools/starforgedpickaxe"=9
        "voidcraft:tools/voidpickaxe"=3
    }
    shovel {
        "appliedenergistics2:certus_quartz_spade"=2
        "appliedenergistics2:nether_quartz_spade"=2
        "harderores:diamondstud_shovel"=3
        "minecraft:diamond_shovel"=3
        "minecraft:golden_shovel"=0
        "minecraft:iron_shovel"=2
        "minecraft:stone_shovel"=1
        "minecraft:wooden_shovel"=0
        "natura:bloodwood_shovel"=2
        "natura:darkwood_shovel"=1
        "natura:fusewood_shovel"=2
        "natura:ghostwood_shovel"=0
        "natura:netherquartz_shovel"=1
        "railcraft:tool_shovel_steel"=2
        "techreborn:bronzeSpade"=2
        "techreborn:peridotSpade"=2
        "techreborn:rubySpade"=2
        "techreborn:sapphireSpade"=2
        "thermalfoundation:tool.shovel_bronze"=2
        "thermalfoundation:tool.shovel_copper"=1
        "thermalfoundation:tool.shovel_electrum"=0
        "thermalfoundation:tool.shovel_invar"=2
        "thermalfoundation:tool.shovel_lead"=1
        "thermalfoundation:tool.shovel_nickel"=2
        "thermalfoundation:tool.shovel_platinum"=4
        "thermalfoundation:tool.shovel_silver"=2
        "thermalfoundation:tool.shovel_tin"=1
        "voidcraft:tools/spectrespade"=4
        "voidcraft:tools/starforgedshovel"=9
        "voidcraft:tools/voidshovel"=3
        "waterstrainer:garden_trowel"=2
    }
    sickle {
        "thermalfoundation:tool.sickle_bronze"=2
        "thermalfoundation:tool.sickle_copper"=1
        "thermalfoundation:tool.sickle_diamond"=3
        "thermalfoundation:tool.sickle_electrum"=0
        "thermalfoundation:tool.sickle_gold"=0
        "thermalfoundation:tool.sickle_invar"=2
        "thermalfoundation:tool.sickle_iron"=2
        "thermalfoundation:tool.sickle_lead"=1
        "thermalfoundation:tool.sickle_nickel"=2
        "thermalfoundation:tool.sickle_platinum"=4
        "thermalfoundation:tool.sickle_silver"=2
        "thermalfoundation:tool.sickle_stone"=1
        "thermalfoundation:tool.sickle_tin"=1
        "thermalfoundation:tool.sickle_wood"=0
    }
    wrench {
        "appliedenergistics2:certus_quartz_wrench"=0
        "appliedenergistics2:nether_quartz_wrench"=0
        "appliedenergistics2:network_tool"=0
        "opencomputers:wrench"=1
        "thermalfoundation:wrench"=1
    }
}
